<div class="container mt-5">
  <div class="row">
    <div class="mx-auto">
      <script src="https://kit.fontawesome.com/d0a9bc3dab.js" crossorigin="anonymous"></script>
            <h1>Welcome to
            <i class="fas fa-book"></i>Bookers
            !</h1>
    　</div>
    </div>
</div>

<div class="cotainer mt-5">
        <div class="row">
          <div class="mx-auto">
            <p>CopyRight Infratop.inc</p>
         </div>
        </div>
    </div>